
#main{
  footer {
    background-color: $grey;

    p {
      margin-bottom: 0;
    }
  }
  .footer-social {
    background-color: $orange;
    color: $white;
    padding: 15px 0;

    p {
      font-size: $t-22;

      @media(min-width:$media-sml){
        font-size: $t-subheader;
      }
    }

    i {
      color: $white;
      font-size: $t-subheader;
      vertical-align: middle;
      margin-left: 10px;

      @media(min-width:$media-sml){
        font-size: $t-header;
      }

      &:visited{
        color: $white;
      }
      &:focus,
      &:hover{
        color:lighten($white,10%);
      }
    }
  }

  .footer-content {
    padding: 15px 0;

    ul {
      margin: 0 auto 10px;
      padding: 0;
      list-style: none;
      text-align: center;

      li {
        display: inline-block;
        padding: 0 20px;
        border-right: 1px solid $black;
        line-height: 14px;

        &:last-child {
          border-right: none;
        }
      }
    }
  }
}
