#main{
  font-size: 16px;
  color: $black;
  line-height: 30px;
  font-family: $font;
  letter-spacing: 1px;

  .container {
    position: relative;
    width: 100%;
    max-width: $media-lrg;
    padding: 0 15px;

    &.padding {
      padding: 30px 15px;

      h1 {
        margin-top: 0;
        margin-bottom: 20px;
      }

      @media(min-width:$media-sml){
        padding: 60px 15px;

        h1 {
          margin-bottom: 40px;
        }
      }

      p {
        margin: 0 0 15px;
      }
    }
  }

  h1 {
    color: $orange;
    font-size: $t-subheader;
    font-weight: $semi-bold;

    @media(min-width:$media-sml){
      font-size: $t-header;
    }
  }

  p {
    font-weight: $light;
  }

  a {
    color: $black;
    transition: $fade;
    font-weight: $light;

    &:visited {
      color: $black;
    }

    &:hover, &:focus {
      color: $orange;
      text-decoration: none;
    }
  }


}
